body,
html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}

a {
    color: #212529;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

a:hover {
    color: #FFC7EB;
    text-decoration: none;
}

#myJob {
    text-decoration: underline;
}

#myJob:hover {
    color: #ffffff;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}

.herohead {
    font-weight: 700;
    text-align: center;
    height: 150px;
    padding-top: 8rem;
    padding-bottom: 5rem;
    z-index: 100;
}

.subhead {
    text-align: center;
    line-height: 20px;
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: calc(5rem - 56px);
    z-index: 100;
}

h3 {
    font-weight: 600;
}

h4 {
    font-weight: 600;
}

#about {
    z-index: 100;
}


.bg-primary {
    background-color: #FFC7EB !important;
}

.bg-dark {
    background-color: #212529 !important;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

section {
    padding: 5rem 0;
}

.section-intro {
    font-size: 1.375rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.section-heading {
    margin-top: 20px;
    font-weight: 700;
}

::-moz-selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

img::selection {
    color: #fff;
    background: transparent;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}


.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #C7E0FF;
    color: #212529;
}

.copyright {
    background-color: #212529;
}


#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

#mainNav .navbar-brand {
    font-weight: 700;
    color: #212529;
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #FFC7EB;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-weight: 600;
    color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #FFC7EB;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
    color: #FFC7EB !important;
    background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
    background-color: transparent;
}

@media (min-width: 992px) {
    /*#mainNav {
        border-color: transparent;
        background-color: transparent;
    }
    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
    }
    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        color: #fff;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link {
        padding: 0.5rem 1rem;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: rgba(255, 255, 255, 0.7);
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
        color: #fff;
    }
    #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33, 37, 41, 0.1);
        background-color: #fff;
    }
    #mainNav.navbar-shrink .navbar-brand {
        color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand:focus,
    #mainNav.navbar-shrink .navbar-brand:hover {
        color: #FFC7EB;
    }
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
        color: #212529;
    }
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
        color: #FFC7EB;
    }
}
    */

header.masthead {
    padding-top: 2rem;
    padding-bottom: calc(6rem - 56px);
}

.bullets {
    padding: 0 13px;
}

@media (max-width: 400px) {
    .bullets {
        padding: 0 2px;
    }
    header .masthead .subhead p {
        font-size: 0.9rem;
    }
}

header.masthead h1 {
    font-size: 2.6rem;
}


header.masthead p {
    font-weight: 300;
    font-size: 1rem;
}

#video {
    margin-top: -90px;
    width: 100%;
}

#videoDiv {
    width: 100%;
    height: 360px;
    position: relative;
    left: 0;
    right: 0;
    top: 100px;
    opacity: 0.08;
    z-index: -100;
}

#videoBlock {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#videoMessage {
    width: 100%;
    height: 100%;
    margin-top: -330px;
    /*position: absolute;*/
}

#videoMessage * {
    margin: 0;
    text-align: center;
}

#videoMessage {
    z-index: 99;
    text-align: center;
}

@media (min-width: 768px) {
    header.masthead p {
        font-size: 1.15rem;
    }
    #videoMessage {
        margin-top: -340px;
    }
}

@media (min-width: 992px) {
    header.masthead {
        height: 550px;
        text-align: center;
        padding-top: 7rem;
    }
    header.masthead h1 {
        font-size: 4.2rem;
        padding-bottom: 105px
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }
}

.service-box {
    max-width: 400px;
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #212529;
    background: rgba(255, 199, 235, 0.9);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 30px;
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 1rem;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.portfolio-box:focus {
    outline: none;
}

/*@media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 1rem;
        margin-bottom: 5px;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 1rem;
    }
}


@media (max-width: 541px) {
    .bullets {
        padding: 0 6px;
    }
}

    */

.text-primary {
    color: #212529 !important;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
    padding: 1rem 2rem;
}

.btn-primary {
    background-color: #212529;
    border-color: #212529;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #fff;
    background-color: #212529 !important;
}

.btn-primary:active,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

.btn-social {
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.5rem;
    border-radius: 100%;
    border: 2px solid #212529;
    text-align: center;
}

.btn-outline-light {
    color: #212529;
}

/* Black border */

#top,
#bottom,
#left,
#right {
    background: #212529;
    position: fixed;
}

#left,
#right {
    top: 0;
    bottom: 0;
    width: 15px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#top,
#bottom {
    left: 0;
    right: 0;
    height: 15px;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}

@media only screen and (max-width: 500px),

only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #top,
    #bottom,
    #left,
    #right {
        display: none;
    }
}
